{% extends "base.html" %}
{% load i18n %}
{% load collectable_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {% blocktranslate count counter=page_obj.paginator.count %}{{ counter }} collectable.{% plural %}{{counter}} collectables.{% endblocktranslate %}
    </p>
    <section id="collectable-list" class="collectable-grid">
        {% for collectable in page_obj %}
            {% if page_obj.has_next and forloop.counter == page_obj|next_page_reveal_index %}
                <span class="invisible"
                      hx-get="?page={{ page_obj.next_page_number }}"
                      hx-swap="beforeend"
                      hx-target="#collectable-list"
                      hx-select="#collectable-list > *"
                      hx-trigger="revealed"></span>
            {% endif %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% endfor %}
    </section>
{% endblock %}
{% block nav %}
    {% include "paginator.html" with page_obj=page_obj %}
{% endblock %}
