{% extends "base.html" %}
{% load i18n %}
{% load collectable_extras %}
{% block title %}
    {% blocktranslate with id=report.collectable.id %}Details of {{ id }}{% endblocktranslate %}
{% endblock %}
{% block content %}
    <h1>{% translate "Duplicate" %}</h1>
    <section id="attributes">
        {# Same as collectable_thumbnail.html but without link #}
        <div class="collectable thumbnail">
            <img alt="{% if report.duplicate.description %}{{ report.duplicate.description }}{% else %}{% blocktranslate with obj=report.duplicate %}Thumbnail of {{ obj }}{% endblocktranslate %}{% endif %}"
                 height="{{ COLLECTABLE_THUMBNAIL_SIZE }}"
                 width="{{ COLLECTABLE_THUMBNAIL_SIZE }}"
                 src="{{ duplicate.thumbnail.url }}" />
            <p>{% translate "is duplicate of" %}</p>
            {% include "collectable/collectable_thumbnail.html" with collectable=report.original %}
            <p>
                {% blocktranslate with reporter=reporter confirmations=report.confirmations_count %}Reported by {{ report.reporter }} on {{ report.created_at }} and confirmed by {{ confirmations }} users.{% endblocktranslate %}
            </p>
            {% if user.is_authenticated %}
                {% if user != report.reporter and not user in report.confirmations.all %}
                    <p id="duplicate-confirmation-form-{{ report.id }}">
                        <form hx-post="{% url 'collectable:duplicate' form.instance.duplicate.id %}"
                              hx-target="#duplicate-confirmation-form-{{ report.id }}"
                              hx-trigger="change">
                            <input type="hidden" name="original" value="{{ report.original.id }}" />
                            {% csrf_token %}
                            <button type="submit">{% translate "Confirm" %}</button>
                        </form>
                    </p>
                {% else %}
                    <p>{% translate "You have already confirmed this duplicate." %}</p>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}
