{% extends "base.html" %}
{% load i18n %}
{% load collectable_extras %}
{% block title %}
    {% blocktranslate with id=collectable.id %}Details of {{ id }}{% endblocktranslate %}
{% endblock %}
{% block meta %}
    <meta property="og:title" content="{{ collectable }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url"
          content="{% fullurl collectable.get_absolute_url %}" />
    <meta property="og:image" content="{% fullurl collectable.thumbnail.url %}" />
    {% for slug in collectable.tags.slugs %}<meta property="article:tag" content="{{ slug }}" />{% endfor %}
{% endblock meta %}
{% block head %}
    {{ form_edit.media.css }}
{% endblock head %}
{% block content %}
    <h1>{% translate "Details" %}</h1>
    <img id="photo"
         alt="{% blocktranslate with obj=collectable %}Photo of {{ obj }}{% endblocktranslate %}"
         height="{{ COLLECTABLE_PHOTO_MAX_SIZE }}"
         width="{{ COLLECTABLE_PHOTO_MAX_SIZE }}"
         src="{{ collectable.photo.url }}" />
    <section id="attributes">
        {% if user.is_authenticated %}
            <form hx-encoding='multipart/form-data'
                  hx-post="{% url 'collectable:details' collectable.id %}"
                  hx-select="#attributes"
                  hx-target="#attributes"
                  hx-select-oob="#messages,#photo,#history,#related"
                  hx-trigger="submit, keyup[keyCode==13] from:input"
                  hx-swap="outerHTML">
                {{ form_edit }}
                <button type="submit">{% translate "Save" %}</button>
            </form>
        {% else %}
            <p>{% translate "Description" %}: {{ collectable.description }}</p>
            <p>
                {% translate "Tags" %}:
                {% for tag in collectable.tags.all %}
                    <a href="{% url "collectable:collection" tag.slug %}">#{{ tag.name }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </section>
    <section id="possession">
        <h2>{% translate "Possessions" %}</h2>
        {% if user.is_authenticated %}
            <p>{% translate "Mark if you like, own or want this collectable." %}</p>
        {% endif %}
        {% user_possession_form collectable %}
    </section>
    {% if user.is_authenticated %}
        <section id="report-duplicate">
            <h2>{% translate "This collectable is a duplicate?" %}</h2>
            <p>{% translate "If you think this collectable is a duplicate of another one, please report it." %}</p>
            <form hx-post="{% url 'collectable:duplicate' collectable.id %}"
                  hx-select="#report-duplicate form"
                  hx-target="#report-duplicate form"
                  hx-select-oob="#messages"
                  hx-swap="outerHTML">
                {% csrf_token %}
                {{ duplicate_form }}
                <button type="submit">{% translate "Report" %}</button>
            </form>
        </section>
    {% endif %}
    <section id="history">
        <h2>{% translate "History" %}</h2>
        <p>{% blocktranslate with date=collectable.created_at %}Created at {{ date }}{% endblocktranslate %}</p>
        <p>{% blocktranslate with date=collectable.modified_at %}Last modified at {{ date }}{% endblocktranslate %}</p>
        <ul>
            {% for record in collectable.history_with_deltas %}
                <li>
                    {{ record.history_date }}:
                    {% blocktranslate with action=record.get_history_type_display user=record.history_user %}
                        {{ action }} by {{ user }}
                    {% endblocktranslate %}
                    {% if record.history_delta_changes %}
                        <ul>
                            {% for change in record.history_delta_changes %}
                                <li>
                                    <strong>{{ change.field }}:</strong>
                                    {{ change.old }}&nbsp;→&nbsp;&nbsp;{{ change.new }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section id="related">
        <h2>{% translate "Similar collectables" %}</h2>
        <p>
            {% translate "With the same tags" %}
            {% for tag in related_tags %}
                <a href="{% url "collectable:collection" tag.slug %}">#{{ tag.name }}</a> ({{ tag.ncollectable|default:0 }})
            {% endfor %}
            :
        </p>
        {% with count=RELATED_COLLECTABLES_LIST_COUNT|stringformat:"s" %}
            {% with related_count=related_collectables.count lslice=":"|add:count %}
                <div class="collectable-grid">
                    {% for collectable in related_collectables|slice:lslice %}
                        {% include "collectable/collectable_thumbnail.html" %}
                    {% endfor %}
                    {% if related_count == 0 %}
                        {% translate "No other collectables found." %}
                    {% endif %}
                    {% if related_count > RELATED_COLLECTABLES_LIST_COUNT %}
                        <a href="{% url "collectable:collection" collectable.tags.slugs|join:"," %}"
                           class="more">{% translate "More..." %}</a>
                    {% endif %}
                </div>
            {% endwith %}
        {% endwith %}
    </section>
    {% if duplicates %}
        <section id="duplicates">
            <h2>{% translate "Duplicates" %}</h2>
            <p>{% translate "The following collectables have been reported as duplicates of this one:" %}</p>
            <div class="collectable-grid">
                {% for duplicate in duplicates %}
                    {% include "collectable/collectable_thumbnail.html" with collectable=duplicate %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if previous_in_list %}
        <div class="navigation previous">
            <a href="{{ previous_in_list.get_absolute_url }}"
               hx-trigger="click, keyup[keyCode==219] from:window"
               hx-get="{{ previous_in_list.get_absolute_url }}"
               hx-target="main"
               hx-select="main"
               hx-push-url="true"
               hx-swap="outerHTML show:window:top"
               title="{{ previous_in_list }}">{% translate "Previous" %}</a>
            <span class="hint">
            {% translate "Press <kbd>[</kbd> to navigate to previous" %}</span>
        </div>
    {% endif %}
    {% if next_in_list %}
        <div class="navigation next">
            <a href="{{ next_in_list.get_absolute_url }}"
               hx-trigger="click, keyup[keyCode==221] from:window"
               hx-get="{{ next_in_list.get_absolute_url }}"
               hx-target="main"
               hx-select="main"
               hx-push-url="true"
               hx-swap="outerHTML show:window:top"
               title="{{ next_in_list }}">{% translate "Next" %}</a>
            <span class="hint">{% translate "Press <kbd>]</kbd> to navigate to next" %}</span>
        </div>
    {% endif %}
{% endblock %}
{% block foot %}
    {{ form_edit.media.js }}
{% endblock foot %}
