{% extends "base.html" %}
{% load i18n %}
{% load collectable_extras %}
{% block title %}
    {% blocktranslate with id=collectable.id %}Details of {{ id }}{% endblocktranslate %}
{% endblock %}
{% block content %}
    <h1>{% translate "Duplicate" %}</h1>
    <section id="attributes">
        {% if original is None %}
            <div id="report-duplicate">
                <form method="post"
                      action="{% url 'collectable:duplicate' collectable.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action" value="confirm">{% translate "Report" %}</button>
                </form>
            </div>
        {% else %}
            <p>{% translate "This collectable" %}</p>
            {# Same as collectable_thumbnail.html but without the link #}
            <img alt="{% if collectable.description %}{{ collectable.description }}{% else %}{% blocktranslate with obj=collectable %}Thumbnail of {{ obj }}{% endblocktranslate %}{% endif %}"
                 height="{% widthratio COLLECTABLE_THUMBNAIL_SIZE 2 1 %}"
                 width="{% widthratio COLLECTABLE_THUMBNAIL_SIZE 2 1 %}"
                 src="{{ collectable.thumbnail.url }}" />
            <p>{% translate "has been reported as a duplicate of" %}</p>
            <p>{% include "collectable/collectable_thumbnail.html" with collectable=original %}</p>
            <p>
                {% translate "by" %}
                <ul>
                    {% for report in reports %}
                        <li>
                            {% blocktranslate with who=report.reporter when=report.created_at %}
                                {{ who }} on {{ when }}
                            {% endblocktranslate %}
                        </li>
                    {% endfor %}
                </ul>
            </p>
            <p>
                {% if user.is_authenticated %}
                    <form hx-post="{% url 'collectable:duplicate' collectable.id %}"
                          hx-select="body"
                          hx-target="body">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit"
                                name="action"
                                value="confirm"
                                {% if already_reported %}disabled title="{% translate "You have already reported this duplicate." %}"{% endif %}>
                            {% translate "Confirm" %} <span aria-hidden="true">✔️</span>
                        </button>
                        <a href="{% url 'collectable:details' collectable.id %}?_skip_duplicate">{% translate "Ignore" %}</a>
                    </form>
                {% else %}
                    <p>
                        <a href="{% url 'collectable:details' collectable.id %}?_skip_duplicate">{% translate "Ignore" %}</a>
                    </p>
                {% endif %}
                <p>
                    {% blocktranslate count missing=missing_confirmations %}
                    {{ missing }} more confirmation before merging the two collectables.
                {% plural %}{{ missing }} more confirmations before merging the two collectables.{% endblocktranslate %}
                </p>
            </p>
        {% endif %}
    </section>
{% endblock %}
