{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>{% translate "Explore" %}</h1>
    {% blocktranslate count counter=total_collectables %}
    {{ counter }} collectable.
    {% plural %}
    {{ counter }} collectables.
    {% endblocktranslate %}
    <h2>{% translate "Latest" %}</h2>
    <div class="collectable-grid">
        {% for collectable in latest %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% translate "No collectable in database." %}
        {% endfor %}
        {% if latest %}
            <a href="{% url "collectable:latest" %}" class="more">{% translate "More..." %}</a>
        {% endif %}
    </div>
    <h2>{% translate "Most wanted" %}</h2>
    <div class="collectable-grid">
        {% for collectable in most_wanted %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% translate "No collectable wanted." %}
        {% endfor %}
        {% if most_wanted %}
            <a href="{% url "collectable:most-wanted" %}" class="more">{% translate "More..." %}</a>
        {% endif %}
    </div>
    <h2>{% translate "Most liked" %}</h2>
    <div class="collectable-grid">
        {% for collectable in most_liked %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% translate "No collectable liked." %}
        {% endfor %}
        {% if most_liked %}
            <a href="{% url "collectable:most-liked" %}" class="more">{% translate "More..." %}</a>
        {% endif %}
    </div>
    <h2>{% translate "Most owned" %}</h2>
    <div class="collectable-grid">
        {% for collectable in most_owned %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% translate "No collectable owned." %}
        {% endfor %}
        {% if most_owned %}
            <a href="{% url "collectable:most-owned" %}" class="more">{% translate "More..." %}</a>
        {% endif %}
    </div>
    <h2>{% translate "Collections" %}</h2>
    <ul class="as-columns">
        {% for tag in tag_list %}
            <li class="tag size-group-{{ tag.size_group }}">
                <a href="{% url "collectable:collection" tag.slug %}">{{ tag.name }}</a> ({{ tag.ncollectable }})
            </li>
        {% empty %}
            {% translate "No collection found." %}
        {% endfor %}
    </ul>
{% endblock %}
