{% load i18n %}
<div class="possession-form"
     id="possession-form-{{ form.instance.collectable.id }}">
    {% if user.is_authenticated %}
        <form hx-post="{% url 'collectable:possession' form.instance.collectable.id %}"
              hx-target="#possession-form-{{ form.instance.collectable.id }}"
              hx-trigger="change">
            {{ form.as_p }}
        </form>
    {% endif %}
    <div class="counters">
        <p>
            {% blocktranslate count counter=form.instance.collectable.nlikes %}{{ counter }} like{% plural %}{{ counter }} likes{% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate count counter=form.instance.collectable.nwants %}{{ counter }} want{% plural %}{{ counter }} wants{% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate count counter=form.instance.collectable.nowns %}{{ counter }} owner{% plural %}{{ counter }} owners{% endblocktranslate %}
        </p>
    </div>
</div>
