{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Profile" %}
{% endblock %}
{% block content %}
    <h1>{% translate "Profile" %} {{ user }}</h1>
    <h2>{% translate "Owned" %}</h2>
    {% if total_owned %}
        <p>
            {% blocktranslate count counter=total_owned %}{{ counter }} item.{% plural %}{{ counter }} items.{% endblocktranslate %}
            {% if total_owned > list_count %}
                {% blocktranslate with count=list_count %}(showing the {{ count }} most recent){% endblocktranslate %}
            {% endif %}
        </p>
    {% endif %}
    <div class="collectable-grid">
        {% for collectable in collectable_owned %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% translate "No collectable owned." %}
        {% endfor %}
    </div>
    <h2>{% translate "Liked" %}</h2>
    {% if total_liked %}
        <p>
            {% blocktranslate count counter=total_liked %}{{ counter }} item.{% plural %}{{ counter }} items.{% endblocktranslate %}
            {% if total_liked > list_count %}
                {% blocktranslate with count=list_count %}(showing the {{ count }} most recent){% endblocktranslate %}
            {% endif %}
        </p>
    {% endif %}
    <div class="collectable-grid">
        {% for collectable in collectable_liked %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% translate "No collectable liked." %}
        {% endfor %}
    </div>
    <h2>{% translate "Wanted" %}</h2>
    {% if total_wanted %}
        <p>
            {% blocktranslate count counter=total_wanted %}{{ counter }} item.{% plural %}{{ counter }} items.{% endblocktranslate %}
            {% if total_wanted > list_count %}
                {% blocktranslate with count=list_count %}(showing the {{ count }} most recent){% endblocktranslate %}
            {% endif %}
        </p>
    {% endif %}
    <div class="collectable-grid">
        {% for collectable in collectable_wanted %}
            <p>{% include "collectable/collectable_thumbnail.html" %}</p>
        {% empty %}
            {% translate "No collectable wanted." %}
        {% endfor %}
    </div>
{% endblock %}
