{% load i18n %}
<noscript>
    {% if page_obj.has_previous %}
        <a class="first"
           href="?{% if search_keywords %}q={{ search_keywords|urlencode }}&{% endif %}page=1">{% translate "First page" %}</a>
        <a class="previous"
           href="?{% if search_keywords %}q={{ search_keywords|urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
    {% endif %}
    {% blocktranslate with number=page_obj.number total=page_obj.paginator.num_pages%}Page {{number}} of {{total}}{% endblocktranslate %}
    {% if page_obj.has_next %}
        <a class="next"
           href="?{% if search_keywords %}q={{ search_keywords|urlencode }}&{% endif %}page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
        <a class="last"
           href="?{% if search_keywords %}q={{ search_keywords|urlencode }}&{% endif %}page={{ page_obj.paginator.num_pages }}">{% translate "Last page" %}</a>
    {% endif %}
</noscript>
