{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "By Tags" %}
{% endblock %}
{% block content %}
    <h1>{% translate "By tags" %}</h1>
    <h2>
        {% blocktranslate count counter=collectable_list|length %}
  {{ counter }} Result for
  {% plural %}
  {{ counter }} Results for
  {% endblocktranslate %}
        {% for tag in tag_list %}
            <a href="{% url "by_tags" tag.slug %}">#{{ tag.name }}</a> ({{ tag.ncollectable|default:0 }})
            {% if not forloop.last %}/{% endif %}
        {% endfor %}
    </h2>
    <h3>{% translate "Related tags" %}</h3>
    <ul>
        {% for tag in reltag_list %}
            <li>
                <a href="{% url "by_tags" slugs|join:","|add:","|add:tag.slug %}">{{ tag.name }}</a> ({{ tag.ncollectable }})
            </li>
        {% empty %}
            {% translate "None" %}
        {% endfor %}
    </ul>
    {% for collectable in collectable_list %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% blocktranslate with slugs=slugs|join:", " %}No collectable with tags {{ slugs }}{% endblocktranslate %}
    {% endfor %}
{% endblock %}
