{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Collection" %}
{% endblock %}
{% block content %}
    <h1>
        {% translate "Collection" %}
        {% for tag in tag_list %}
            <a href="{% url "collectable:collection" tag.slug %}">#{{ tag.name }}</a> ({{ tag.ncollectable|default:0 }})
            {% if not forloop.last %}/{% endif %}
        {% endfor %}
    </h1>
    <h2>
        {% blocktranslate count counter=collectable_list|length %}
        {{ counter }} Result
        {% plural %}
        {{ counter }} Results
        {% endblocktranslate %}
    </h2>
    {% if user.is_authenticated %}
        <section>
            <p>
                {% blocktranslate with n=total_owned p=percent_owned|floatformat:"0" %}You own {{n}} items in this collection ({{p}}%){% endblocktranslate %}
            </p>
        </section>
    {% endif %}
    {% if reltag_list %}
        <h3>{% translate "Related collections" %}</h3>
        <ul class="as-columns">
            {% for tag in reltag_list %}
                <li>
                    <a href="{% url "collectable:collection" slugs|join:","|add:","|add:tag.slug %}">{{ tag.name }}</a> ({{ tag.ncollectable }})
                </li>
            {% empty %}
                {% translate "None" %}
            {% endfor %}
        </ul>
    {% endif %}
    <section id="collectable-list">
        {% for collectable in page_obj %}
            {% include "collectable/collectable_thumbnail.html" %}
        {% empty %}
            {% blocktranslate with slugs=slugs|join:", " %}No collectable with tags {{ slugs }}{% endblocktranslate %}
        {% endfor %}
    </section>
{% endblock %}
{% block nav %}
    {% include "paginator.html" with page_obj=page_obj hxselect="#collectable-list" %}
{% endblock %}
