{% extends "base.html" %}
{% load i18n %}
{% load collectable_extras %}
{% block title %}
    {% blocktranslate with id=collectable.id %}Details of {{ id }}{% endblocktranslate %}
{% endblock %}
{% block content %}
    <h1>{% translate "Details" %}</h1>
    <section id="attributes">
        <img alt="{% blocktranslate with obj=collectable %}Photo of {{ obj }}{% endblocktranslate %}"
             height="{{ COLLECTABLE_PHOTO_MAX_SIZE }}"
             width="{{ COLLECTABLE_PHOTO_MAX_SIZE }}"
             src="{{ collectable.photo.url }}" />
        {% if user.is_authenticated %}
            <form hx-encoding='multipart/form-data'
                  hx-post="{% url 'collectable:details' collectable.id %}"
                  hx-select="#attributes"
                  hx-select-oob="#history,#related"
                  hx-target="#attributes"
                  hx-trigger="submit, keyup[keyCode==13] from:input"
                  hx-swap="outerHTML">
                {{ form_edit }}
                <button type="submit">{% translate "Save" %}</button>
            </form>
            {% if form_saved %}
                <p>{% translate "Saved ✅" %}</p>
            {% endif %}
        {% else %}
            <p>{% translate "Description" %}: {{ collectable.description }}</p>
            <p>
                {% translate "Tags" %}:
                {% for tag in collectable.tags.all %}
                    <a href="{% url "collectable:collection" tag.slug %}">#{{ tag.name }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </section>
    <section id="possession">
        {% user_possession_form collectable %}
    </section>
    <section id="history">
        <h2>{% translate "History" %}</h2>
        <p>{% blocktranslate with date=collectable.created_at %}Created at {{ date }}{% endblocktranslate %}</p>
        <p>{% blocktranslate with date=collectable.modified_at %}Last modified at {{ date }}{% endblocktranslate %}</p>
        <ul>
            {% for history in collectable.history_with_deltas %}
                <li>
                    {{ history.history_date }}:
                    {% blocktranslate with action=history.get_history_type_display user=history.history_user %}
                {{ action }} by {{ user }}
                {% endblocktranslate %}
                    {% if history.history_delta_changes %}
                        <ul>
                            {% for change in history.history_delta_changes %}
                                <li>
                                    <strong>{{ change.field }}:</strong>
                                    {{ change.old }}&nbsp;→&nbsp;&nbsp;{{ change.new }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section id="related">
        <h2>{% translate "Similar collectables" %}</h2>
        <p>
            {% translate "With the same tags" %}
            {% for tag in collectable.tags_with_count.all %}
                <a href="{% url "collectable:collection" tag.slug %}">#{{ tag.name }}</a> ({{ tag.ncollectable|default:0 }})
            {% endfor %}
            :
        </p>
        {% with count=RELATED_COLLECTABLES_LIST_COUNT|stringformat:"s" %}
            {% with related_count=related_collectables.count lslice=":"|add:count %}
                {% for collectable in related_collectables|slice:lslice %}
                    {% include "collectable/collectable_thumbnail.html" %}
                {% endfor %}
                {% if related_count == 0 %}
                    {% translate "No other collectables found." %}
                {% endif %}
                {% if related_count > RELATED_COLLECTABLES_LIST_COUNT %}
                    <a href="{% url "collectable:collection" collectable.tags.slugs|join:"," %}">{% translate "More..." %}</a>
                {% endif %}
            {% endwith %}
        {% endwith %}
    </section>
{% endblock %}
{% block nav %}
    {% with previous=collectable.get_previous_by_created_at.get_absolute_url next=collectable.get_next_by_created_at.get_absolute_url %}
        <section id="navigation">
            <a href="{{ previous }}"
               hx-trigger="click, keyup[keyCode==219] from:window"
               hx-get="{{ previous }}"
               hx-target="main"
               hx-select="main">{% translate "Previous" %}</a>
            <a href="{{ next }}"
               hx-trigger="click, keyup[keyCode==221] from:window"
               hx-get="{{ next }}"
               hx-target="main"
               hx-select="main">{% translate "Next" %}</a>
        </section>
    {% endwith %}
{% endblock %}
