{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>{% translate "Explore" %}</h1>
    <h2>{% translate "Latest" %}</h2>
    {% for collectable in latest %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable in database." %}
    {% endfor %}
    <h2>{% translate "Most wanted" %}</h2>
    {% for collectable in most_wanted %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable wanted." %}
    {% endfor %}
    <h2>{% translate "Most liked" %}</h2>
    {% for collectable in most_liked %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable liked." %}
    {% endfor %}
    <h2>{% translate "Most owned" %}</h2>
    {% for collectable in most_owned %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable owned." %}
    {% endfor %}
    <h2>{% translate "By tag" %}</h2>
    <ul>
        {% for tag in tag_list %}
            <li>
                <a href="{% url "by_tags" tag.slug %}">{{ tag.name }}</a> ({{ tag.ncollectable }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
