{% extends "base.html" %}
{% load i18n %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h1>{% translate "Profile" %} {{ user }}</h1>
    <h2>{% translate "Owned" %}</h2>
    {% for collectable in collectable_owned %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable owned." %}
    {% endfor %}
    <h2>{% translate "Liked" %}</h2>
    {% for collectable in collectable_liked %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable liked." %}
    {% endfor %}
    <h2>{% translate "Wanted" %}</h2>
    {% for collectable in collectable_wanted %}
        {% include "collectable/collectable_thumbnail.html" %}
    {% empty %}
        {% translate "No collectable wanted." %}
    {% endfor %}
{% endblock %}
