header a {
    margin-right: 15px;
}

form.inline {
    display: inline-block;
}

button.link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: unset;
    font-size: unset;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.errorlist {
    color: red;
}

.collectable.thumbnail {
    display: inline-block;
    max-width: 324px;
    margin: 5px;
    position: relative;

    border-radius: 4px;
    border: solid 1px;
}

.collectable.thumbnail .taglist {
    position: absolute;
    top: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

input[name="tags"] {
    min-width: 50%;
}

.possession-form label {
    display: none;
}

.possession-form p {
    display: inline-block;
    margin: 0px;
    width: 32%;
    text-align: center;
}

.possession-form input[type=checkbox] {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 33%;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.possession-form #id_likes {
    background-image: url(../icons/unliked.svg);
}
.possession-form #id_likes:checked {
    background-image: url(../icons/liked.svg);
}
.possession-form #id_wants {
    background-image: url(../icons/unwanted.svg);
}
.possession-form #id_wants:checked {
    background-image: url(../icons/wanted.svg);
}
.possession-form #id_owns {
    background-image: url(../icons/unowned.svg);
}
.possession-form #id_owns:checked {
    background-image: url(../icons/owned.svg);
}
