header form {
    display: inline-block;
}

header button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: unset;
    font-size: unset;
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.collectable.thumbnail {
    display: inline-block;

    border-radius: 4px;
    border: solid 1px;
}
