{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Collect -
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <header>
            <a href="{% url 'home' %}">{% translate "Home" %}</a>
            {% if user.is_authenticated %}
                <a href="{% url 'collectable:profile' %}">{{ user }}</a>
                <a href="{% url 'collectable:create' %}">{% translate "Create collectable" %}</a>
                <a href="{% url 'auth:password_change' %}">{% translate "Password Change" %}</a>
                <form action="{% url 'auth:logout' %}" method="post" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="link">{% translate "Log Out" %}</button>
                </form>
            {% else %}
                <a href="{% url 'auth:login' %}">{% translate "Log In" %}</a>
            {% endif %}
        </header>
        <nav>
            {% block nav %}{% endblock %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
